mat-toolbar {
    justify-content: space-between;
}

.mat-toolbar {
    background: #1c1c1c;
    color: rgba(255, 255, 255, 0.87);
}

.content {
    padding: 32px;
}

.title {
    color: white;
    text-decoration: none;
}

.title:hover {
    font-weight: bold;
}